@mixin topa {
    float: right;
    display: block;
    color: #3FD28B;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #25313F;
    
  }
  
.topnav a {
    
    @include topa();
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .topnav img{
      float: right;
      margin: 13px 15px;
  }